<template>
  <div class="App">
    <Header />
    <Search :onInput="onInput" />
    <Results :emojis="emojis" />
  </div>
</template>

<script>
import Header from './Header.vue'
import Search from './Search.vue'
import Results from './Results.vue'

import emojis from "../emojis.json";

export default {
  name: 'App',
  components: {
    Header,
    Search,
    Results,
  },
  data() {
    return {
      emojis
    }
  },
  methods: {
    onInput(event) {
      const { value } = event.target;
      const filtered = emojis.filter(emoji => (
        emoji.title.toLowerCase().includes(value.toLowerCase()) ||
        emoji.keywords.includes(value)
      ));
      this.emojis = filtered;
    }
  }
}
</script>
