<template>
  <div class="Header">
    Vue Demo: Emoji Search
  </div>
</template>

<script>
export default {
  name: 'Header'
}
</script>

<style>
.Header {
  padding: 1rem;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}
</style>
