<template>
  <div class="Search">
    <input
      class="Search-input"
      @input="onInput"
    />
  </div>
</template>

<script>
export default {
  name: 'Search',
  props: {
    onInput: Function
  }
}
</script>

<style>
.Search {
  padding: 1rem;
}

.Search-input {
  width: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 0.5rem 0.75rem ;
  box-sizing: border-box;
}
</style>
